.wwvce-about-close-button,
.wwvce-fail-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
.wwvce-about-close-button:focus,
.wwvce-fail-close-button:focus {
  outline: none;
}
.wwvce-game-question-answer {
  border: 0;
  padding: 14px 40px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  background-color: #ffae27;
  cursor: pointer;
  transition: 0.4s;
  margin: 5px 10px;
  transition: background-color 0.4s, outline 0.4s;
}
.wwvce-game-question-answer:hover,
.wwvce-game-question-answer:focus {
  background-color: #f19730;
  outline: none;
}

@media screen and (min-width: 480px) {
  .wwvce-game-question-answer {
    width: calc(50% - 20px);
  }
}