.wwvce-login {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wwvce-login-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.wwvce-login-title {
  font-weight: 500;
  font-size: 18px;
}
.wwvce-login-input {
  padding: 10px 15px;
  border: 1px #dedede solid;
  border-radius: 5px;
  color: #515162;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  width: 100%;
  max-width: 220px;
}
.wwvce-login-input:focus,
.wwvce-login-start-game:focus,
.wwvce-login-open-about:focus {
  outline: none;
}
.wwvce-login-open-about {
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.wwvce-login-open-about:hover {
  color: #ccc;
}
.wwvce-login-start-game {
  background-color: #6bdd4d;
  border: 1px #6bdd4d solid;
  border-radius: 5px;
  padding: 10px 13px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  max-width: 220px;
  transition: 0.4s;
}
.wwvce-login-start-game:hover {
  background-color: #3F9E26;
  border-color: #3F9E26;
}

@media screen and (min-width: 480px) {
  .wwvce-login-inner {
    flex-direction: row;
  }
  .wwvce-login-inner-controls {
    flex-direction: row-reverse;
  }
}