.wwvce-login,
.wwvce-login-inner {
  display: flex;
  flex-direction: column;
}
.wwvce-login-inner {
  justify-content: space-between;
  align-items: center;
}
.wwvce-login-inner > * {
  margin: 15px;
}
.wwvce-login-title {
  font-weight: 500;
  font-size: 18px;
}
.wwvce-login-input {
  padding: 10px 15px;
  border: 1px #dedede solid;
  border-radius: 5px;
  color: #515162;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  width: 100%;
  max-width: 220px;
}
.wwvce-login-input:focus {
  outline: none;
}

@media screen and (min-width: 480px) {
  .wwvce-login-inner {
    flex-direction: row;
  }
  .wwvce-login-inner-controls {
    flex-direction: row-reverse;
  }
}