@import 'assets/css/mainStyles.css';
@import 'assets/css/copyright.css';
@import 'assets/css/spotlight.css';
@import 'assets/css/popups.css';
@import 'assets/css/login.css';
@import 'assets/css/timer.css';
@import 'assets/css/buttons.css';
@import 'assets/css/questions.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: #fff;
}