@import 'assets/css/mainStyles.css';
@import 'assets/css/popups.css';
@import 'assets/css/login.css';
@import 'assets/css/buttons.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#root {
  height: 100%;
}