*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#root {
  height: 100%;
}
.wwvce-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #1a399d, #693bc5);
  position: relative;
  gap: 80px;
  height: 100%;
}
.wwvce-spotlight {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wwvce-spotlight-logo {
  height: auto;
  width: 100%;
  max-width: 295px;
  margin: 10px 10px 30px 10px;
}
.wwvce-spotlight-title {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.2;
  margin: 0 10px 10px 10px;
}
.wwvce-game-question {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.wwvce-game-question-answers {
  display: flex;
  flex-flow: wrap;
}
.wwvce-copyright {
  position: absolute;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  right: 0;
  bottom: 0;
}
.wwvce-game-timer {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
  top: 0;
  right: 0;
}
.wwvce-login,
.wwvce-login-inner {
  display: flex;
  flex-direction: column;
}
.wwvce-login-inner {
  justify-content: space-between;
  align-items: center;
}
.wwvce-login-inner > * {
  margin: 15px;
}
.wwvce-login-title {
  font-weight: 500;
  font-size: 18px;
}
.wwvce-login-input {
  padding: 10px 15px;
  border: 1px #dedede solid;
  border-radius: 5px;
  color: #515162;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  width: 100%;
  max-width: 220px;
}
.wwvce-login-input:focus {
  outline: none;
}
.wwvce-login-input::placeholder {
  color: #ff0000;
}
@media screen and (min-width: 480px) {
  .wwvce-login-inner {
    flex-direction: row;
  }
  .wwvce-login-inner-controls {
    flex-direction: row-reverse;
  }
}
.wwvce-about-close-button,
.wwvce-fail-close-button,
.wwvce-finished-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  transition: 0.4s;
}
.wwvce-about-close-button:hover,
.wwvce-fail-close-button:hover,
.wwvce-finished-close-button:hover {
  color: #ccc;
}
.wwvce-about-close-button:focus,
.wwvce-fail-close-button:focus,
.wwvce-finished-close-button:focus {
  outline: none;
}
.wwvce-login-start-game-button {
  background-color: #6bdd4d;
  border: 1px #6bdd4d solid;
  border-radius: 5px;
  padding: 10px 13px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  max-width: 220px;
  transition: 0.4s;
}
.wwvce-login-start-game-button:hover {
  background-color: #3F9E26;
  border-color: #3F9E26;
}
.wwvce-login-start-game-button:focus {
  outline: none;
}
.wwvce-login-open-about-button {
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.wwvce-login-open-about-button:hover {
  color: #ccc;
}
.wwvce-login-open-about-button:focus {
  outline: none;
}
.wwvce-game-question-answer-button {
  border: 0;
  padding: 14px 40px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  background-color: #ffae27;
  cursor: pointer;
  transition: 0.4s;
  margin: 5px 10px;
  transition: background-color 0.4s, outline 0.4s;
}
.wwvce-game-question-answer-button:hover {
  background-color: #f19730;
}
.wwvce-game-question-answer-button:focus {
  outline: none;
}
@media screen and (min-width: 480px) {
  .wwvce-game-question-answer-button {
    width: calc(50% - 20px);
  }
}
.wwvce-about,
.wwvce-fail,
.wwvce-finished {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wwvce-about-inner,
.wwvce-fail-inner,
.wwvce-finished-inner {
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;
  color: #000;
  width: 100%;
  max-width: 600px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1000;
}
.wwvce-finished-logo {
  width: 100%;
  max-width: 295px;
  height: auto;
  margin-bottom: 30px;
}
